@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Light.ttf") format("truetype"),
    url("../fonts/Metropolis-Light.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Metropolis";
  src: url("../fonts/Metropolis-Medium.ttf") format("truetype"),
    url("../fonts/Metropolis-Medium.woff") format("woff");
  font-weight: bold;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display';
  color: #212529;
  font-weight: 700;
  line-height: 1.2;
}

.section-title__center {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: capitalize;
}

.section p,
.section ul li {
  font-family: Metropolis, Arial, sans-serif, -apple-system;
  line-height: 1.2;
  color: #5c5a5a;
  font-size: 1.2em;
}

.row>.col-sm {
  margin-bottom: 20px;
}

.section row {
  display: flex;
}

.col-sm:last-child,
.col-sm-12:last-child {
  margin-bottom: 0;
}

.container {
  padding: 60px 20px 60px;
}



/* HEADLINE */

.headline-hero {
  display: flex;
  justify-content: center;
}

.hero-img {
  width: 80%;
  transform: scaleX(-1);
  border-radius: 50%;
  overflow: hidden;
}

.headline-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CTA */

.btn-homestead {
  font-family: 'Metropolis', sans-serif, Arial;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 50px;
  border: 2px solid #212529;
  color: #fff;
  background: #212529;
  transition: all .3s ease;
}

.btn-homestead:hover {
  font-family: 'Metropolis', sans-serif, Arial;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 10px 50px;
  border: 2px solid #212529;
  color: #212529;
  background: #fff;
  transition: all .3s ease;
}


/* LOGO */

#logo-bar {
  background-color: #F5F5F5;
}

.logo {
  height: 35px;
}

.logos-container {
  display: flex;
  justify-content: center;
}






/* TESTIMONIALS */

.video-testi-container {
  display: flex;
  justify-content: center;
}

.testi-meta-container {
  position: relative;
  display: flex;
  padding: 30px 20px;
  border: 1px solid #ebebeb;
  border-radius: 6px;
}

.testi-quote-icon {
  position: absolute;
  top: 75px;
  left: 25px;
}

.testi-quote-icon>img {
  opacity: .1;
  height: 30px;
  filter: invert(44%) sepia(22%) saturate(200%) hue-rotate(332deg) brightness(138%) contrast(84%);
}

.testi-comment p {
  font-style: italic;
  color: #262626;
}

.testi-author p {
  color: #262626;
}

.testi-author {
  padding: 0 15px;
}

.testi-comment {
  position: relative;
  z-index: 2;
  min-height: 120px;
  margin-bottom: 20px;
  margin-top: 40px;
  padding: 0 15px;
}

.ceo-brand-logo {
  height: 30px;
}

.testi-author-role {
  font-size: 0.85em;
  color: #979797;
}



/* FEATURES SECTION */

.row-features-content {
  margin-bottom: 20px;
}

.features-card {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 30px;
}

.features-icon {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  opacity: 0.65;
}

.features-icon img {
  height: 50px;
}

.features-card-container {
  margin-bottom: 20px;
  margin-top: 30px;
}


/* PROCESS CONTAINER */


.steps-card {
  margin-bottom: 20px;
}

.steps-accordion p {
  font-size: 1em;
  line-height: 1.3em;
}

.accordion-button:not(.collapsed) {
  color: var(--bs-accordion-active-color);
  background-color: #ffffff;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.accordion-button:focus {
  z-index: 3;
  border-color: #ffffff;
  outline: 1px;
  box-shadow: unset;
}



.accordion-button:not(.collapsed) {
  color: #212529;
  font-weight: bold;
  background-color: #ffffff;
  box-shadow: unset;
}

.accordion-button {
  padding: 10px 15px
}






































/* // Small devices (landscape phones, 576px and up) */

@media (min-width: 325px) {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: center;
    margin-bottom: 22px;
    line-height: 1.2em;
  }

  h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 22px;
  }



  .btn-homestead {
    width: 100%;
  }

  .container {
    padding: 40px 20px;
  }




  /* HEADLINE SECTION */

  .headline-content .headline-content-cta {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  #headline-complex ul li {
    font-size: 17px;
    line-height: 1.3em;
    margin-bottom: 7px;
  }


  /* LOGO SECTION */

  .logos-container {
    flex-wrap: wrap;
    align-items: center;
  }

  .logo {
    height: 30px;
    margin: 22px;
  }


  /* TESTIMONIALS SECTION */

  .testi-meta-container {
    margin-bottom: 30px;
    padding: 25px;
  }

  .testi-comment p {
    font-size: 1.25em;
    line-height: 1.3em;
  }

  .testi-author p {
    font-weight: bold;
    font-size: 1.1em;
    line-height: 1.3em;
  }

  #testimonials .col-video {
    margin-bottom: 30px;
  }

  #testimonials .row-testi {
    margin-bottom: 20px;
  }


  /* FEATURES SECTION */

  #features h4 {
    margin-bottom: 10px;
  }

  #features .features-content-desc p {
    font-size: 1em;
    line-height: 1.3em;
  }



  /* PROCESS SECTION */

  .steps-container {
    margin-bottom: 20px;
  }

  .row-steps {
    margin-bottom: 20px;
  }

  .steps-card {
    margin-bottom: 50px;
  }

  #process h3 {
    font-size: 24px;
  }

  





}

/* // Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {}

/* // Large devices (desktops, 992px and up) */

@media (min-width: 992px) {}

/* // Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {}